/* Reseteo global */
* {
  padding: 0;
  margin: 0; }

/* -------------- HEADER ----------------- */
.header {
  background-color: #1D262D; }
  .header__navLogo {
    width: 5rem;
    transform: rotate(360deg);
    transition: transform 5s; }
  .header__navLogo:hover {
    transform: rotate(1deg); }
  .header__item {
    margin: 0 1rem; }
  .header__link {
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 2s;
    transition: font-size 1s; }
  .header__link:hover {
    color: #9BA5B1;
    font-size: 23px; }

/* -------------- HERO ----------------- */
.sectionHero__imageContainer {
  width: 100%; }
  .sectionHero__imageContainer .sectionHero__image {
    width: 100%;
    object-fit: cover; }

/* Imagen de articulos MAIN*/
.section__articleImg {
  height: 100%;
  width: 100%; }

/* Corrigiendo tamano de imagenes en Carousel en CENTROS DE DONACION */
.carousel-inner img {
  max-height: 700px; }

.carousel-caption--background {
  background-color: rgba(237, 222, 222, 0.5);
  border: 0.1rem solid rgba(0, 0, 0, 0.5); }

/* -------------- FOOTER ----------------- */
.footer {
  padding: 3rem 0;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.768242) 0%, #090979 29%, #0564b5 59%, #2b5161 81%, #00d4ff 100%); }
  .footer .footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-start; }
  .footer .footer__list {
    list-style-type: none; }
  .footer .footer__titleH4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    padding: 0.5rem 0; }
  .footer a {
    text-decoration: none;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #869FB2; }
  .footer a:hover {
    color: white; }
  .footer .footer__item {
    padding: 0 0.5rem; }
  .footer .footer__comunidad {
    display: flex;
    flex-wrap: wrap; }
  .footer .footer__logoRedSocial {
    width: 2.5rem; }
  .footer .footer__logoRedSocial:hover {
    box-shadow: 0 0 0.1rem 0 #9BA5B1; }

/* Footer Responsive */
@media screen and (max-width: 449px) {
  .footer__nav {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; }
  .footer__list {
    padding: 1rem 0; } }
